.country {
  background-color: rgb(7, 3, 49);
  color: #fff;
  border: 2px solid rgb(177, 135, 30);
  border-radius: 20px;
  margin-top: 25px;
  min-width: 250px;
  max-width: 550px;
}
h2,
h3,
h4,
p,
img {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
